html{
    box-sizing: border-box
}
*,*:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    text-align: center;
   
}

.menu{
    margin: 0 auto;
    width: auto;
   
}
.main{
    background-color: rgb(236, 236, 17);
    height: 528px;
    margin-left: 10px;
    width: 76%;
    margin-top: 10px;
    display: inline-flex;
}    
.sidebar {
    background-color: greenyellow;
    height: 530px;
    margin-left: 16px;
    width: 20%;
    margin-top: 10px;
    display: inline-flex
}
.footer{
    background-color: red;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;  
}
/** comienzo la barra */

.menu{
    background-color: red;
}
nav ul {
    padding: 0;
    margin: 0 auto ;
    text-align: center;
    list-style: none;
    display: inline-flex;
}
nav a{
    margin: 0 auto;
    display: block;
    color:white;
    text-decoration: none;
    
}
nav li  a {
    padding: 20px;
    width: 200px;
}


nav a:hover{
    background: rgb(233, 85, 85);
}
nav ul  ul  {
    position: absolute;
    background-color: rgb(214, 97, 97);
    display: none;
}
nav ul li a:hover + ul,nav ul li ul:hover{
    display: block;
}
/** aritcle **/
.imagen1{
    display: inline-block;
}
div article img {
    margin-right: 10px;
    width: 372px
   
}
.article {
    text-align: left;
    width: 48%;
    display: inline-block;
}
h2{
    color: rgb(252, 84, 84);
    font-size: 2rem;
    text-transform: uppercase;
}
p{
    color: blue;
}
.caja-boton{

}
main a {
    background-color: rgb(241, 43, 43);
    display: flex;
    padding: 5px 5px;
    margin-top: 10px;
    width: 90px;
    margin-left: 8px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    height: 25px;
    text-align: center; 
    
}
main a:hover{
    background-color: rgb(247, 117, 117);
    transition: all 1.5s;
}
/** aside **/
aside ul{
    list-style: none;
    text-align: center;
}
aside ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}
aside a:hover{
    background-color: yellow;
}
.copy p {
    color: white;
    font-size: 20px;
}